body {
    background-image: url("images/background.jpg");
    margin: 0px;
}
main {
    background-color: aliceblue;
    height: 600px;
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 7px;
}
.title {
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 45px;
  
}
.title h1 {
    position: relative;
    left: 34%;
    font-family: Arial, Helvetica, sans-serif;
}
.label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
.input {
    outline: none;
    border: none;
    border-bottom: 1px solid;
    background-color: aliceblue;
    border-color: rgb(218, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    width: 235px;
    margin-bottom: 10px;
    padding-top: 15px;
}
form {
    margin-left: 30px;
}
a {
    margin-left: 173px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.btn {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.btn button {
    display: block;
    margin: 0 auto;
    background-image: url("images/background.jpg");
    border: none;
    border-radius: 20px;
    width: 80%;
    color: aliceblue;
    margin-top: 10px;
    padding: 10px;
}
button:hover {
    color: rgb(76, 179, 76);
}
.sing_up {
    margin-left: 31%;
    color: rgb(175 175 175);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.networks {
    display: flex;
    height: 140px;
}
.vk {
    margin-left: 28%;
}
 img {
    width: 40px;
    margin-bottom: 150px;
}

.sing_up_btn {
    margin-left: 38%;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
}
.sing_up_btn button {
    outline: none;
    border: none;
    font-size: 13px;
}

