body {
    background-image: url("images/background.jpg");
    margin: 0px;
}
main {
    background-color: aliceblue;
    height: 600px;
    width: 35%;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 7px;
}
.title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 45px;
  
}
.title h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
.input {
    outline: none;
    border: none;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 15px;
    width: 85%;
}
.border {
    border-bottom: 1px solid rgb(218, 210, 210);
    width: 90%;
}
.mrg {
margin-bottom: 20px;
}
form {
    margin-left: 30px;
}
.link {
    text-align: right;
    margin-right: 25px;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.btn {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
}
.btn button {
    display: block;
    margin: 0 auto;
    background-image: url("images/background.jpg");
    border: none;
    border-radius: 20px;
    width: 84%;
    color: aliceblue;
    margin-top: 10px;
    padding: 10px;
}
button:hover {
    color: rgb(76, 179, 76);
}
.sing_up {
    text-align: center;
    color: rgb(175 175 175);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.networks {
    display: flex;
    height: 140px;
    width: 33%;
    margin: 0 auto;
}
 img {
    width: 95%;
    margin-bottom: 150px;
}

.sing_up_btn {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 18%;
    margin: 0 auto;
}
.sing_up_btn button {
    outline: none;
    border: none;
    font-size: 13px;
    background-color: aliceblue;
}

